@import "../../sass/_variables.scss";
@import "../../sass/_mixin.scss";


.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 100%;
  background: url(../../assets/hero.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;

  @media screen and (max-width: 700px) {
    padding: 4rem;
  }

  .hero__title{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    width: 40ch;

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }



  a {
    @include button;
    display: inline-block;
    margin-top: 2rem;
    background-color: $orange;
  }
}